td.RUNNING {
	 background-color: aquamarine
}

td.SAME_AS_PREVIOUS {
   background-color: aquamarine
}

td.BLOCKED {
   background-color: tomato
}

td.DEADLOCKED {
   background-color: tomato
}

td.BLOCKING {
   background-color: gold
}

td.IDLE {
   background-color: lightsteelblue
}

td.ABSENT {
   background-color: dimgray
}

td.NATIVE {
   background-color: lavender
}

pre {
   line-height: 120%;
}